.singlePost{
    flex: 9;
}
.singlePostWrapper{
    padding: 20px;
    padding-right: 0;
}
.singlePostImg{
    width: 50vw;
    height: 50vh;
    object-fit: cover;
    border-radius: 5px;
}
.singlePostTitle{
    text-align: center;
    margin: 0.5rem;
    font-size: 3rem;
}
.singlePostEdit{
    float: right;
    font-size: 1.5rem;
}
.singlePostIcon{
    margin-left: 10px;
    cursor: pointer;
}
.singlePostIcon:first-child{
    color: teal;
}
.singlePostIcon:last-child{
    color: tomato;
}
.singlePostInfo{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
}
.singlePostAuthor{
    margin-left: 5px;
}
.singlePostDesc{
    font-size: 1.2rem;
    line-height: 2rem;
}
.singlePostDesc::first-letter{
    margin-left: 20px;
    font-size: 3rem;
    font-weight: 600;
}
.singlePostTitleInput{
    margin: 8rem;
    font-size: 3rem;
    text-align: center;
    border: none;
    color: gray;
    border-bottom: 1px solid #010101;
}
.singlePostDescInput{
    border: none;
    color: gray;
    /* line-height: 2rem; */
    font-size: 1.2rem;
}
.singlePostDescInput:focus{
    outline: none;
}