.posts{
    flex: 9;
    display: flex;
    margin: 2rem;
    flex-wrap: wrap;
}

@media screen and (max-width: 720px) {
    .posts{
        display: flex;
        width: 100%;
        margin: 2rem auto auto auto;
        flex-wrap: wrap;
    }
}