.resetPass{
    height: calc(100vh - 4rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('https://images.pexels.com/photos/3584973/pexels-photo-3584973.jpeg?auto=compress&cs=tinysrgb&w=1600');
    background-size: cover;
}
.resetTitle{
    font-size: 4rem;
}
.resetForm{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}
.resetForm>label{
    margin: 1rem 0;
}
.resetInput{
    padding: 0.8rem;
    background-color: white;
    border: none;
    border-radius: 1rem;
}
.resetInput:focus{
    outline: none;
}
.resetButton{
    margin-top: 4rem;
    cursor: pointer;
    background-color: lightcoral;
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    text-align: center;
}
