.write{
    padding-top: 4rem;
}
.writeImg{
    margin-left: 10rem;
    width: 60vw;
    height: 50vh;
    border-radius: 1rem;
    object-fit: cover;
}
.writeForm{
    position: relative;
}
.writeFormGroup{
    margin-left: 10rem;
    display: flex;
    align-items: center;
}
.writeIcon{
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    border: 1px solid;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.writeInput{
    font-size: 3rem;
    border: none;
    padding: 2rem;
    width: 70vw;
}
.writeInput::placeholder{
    color: #010101;
    font-weight: 400;
}
.writeInput:focus{
    outline-style: none;
}
.writeText{
    width: 70vw;
    height: 100vh;
    font-size: 2rem;
}
.writeSubmit{
    position: absolute;
    top: 2rem;
    right: 4rem;
    color: white;
    background-color: teal;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}

@media screen and (max-width : 500px) {
    .writeImg{
        margin-left: 10rem;
        width: 60vw;
        height: 50vh;
        border-radius: 1rem;
        object-fit: cover;
    }
}